@charset "UTF-8";

body{
    height: 100%;
    background-image: linear-gradient(to bottom, #B320B6,#603161);
}
h1{
    text-align: center;
    background-color: burlywood;
    font-family: 'Courier New', Courier, monospace;
    border-radius: 150px;
}
h2{ 
    text-align: center;

}

p{

}